$font-color: #515151
$header-font-color: #000000BF
$link-font-size: 20px
$gradient-color: rgba(36, 35, 52, 100)

@font-face
    font-family: 'peace sans'
    src: url("../assets/fonts/peace_sans.otf") format('opentype')


html, body
  margin: 0px
  height: 100%
  color: $font-color
  font:
    family: 'Raleway', sans-serif
    size: $link-font-size

  .button
    background:
      color: white
    color: $font-color

  #header
    height: 100%
    text-align: center
    background:
      image: unquote("linear-gradient(rgba(36, 35, 52, 0),rgba(36, 35, 52, 0.1),rgba(36, 35, 52, 0.2), rgba(36, 35, 52, 100) )"), url("../assets/img/background.jpg")
      size: cover
      position:
        x: center
        y: 80%

    #nav-bar
      height: 10%
      ul
        list-style-type: none
        float: right
        margin: 2% 3%
        li
          padding: 40px 70px
          display: inline
        li:last-child
          padding-right: 0px
        li:hover
          text-decoration: underline
          color: black

    #title
      height: 400px
      position: relative
      color: $header-font-color 
      text-align: center
     
      h1
        width: 100%
        text-align: center
        position: absolute 
        font:
          family: 'peace sans', sans
          size: 180px
        top: 100px
        margin: 0

      h3
        position: absolute 
        width: 100%
        font:
          weight: 400
          size: 42px
      #title-time
        top: 45px
        right: 200px
      #title-together
        top: 255px
        left: 25px

    #ready-button
      list-style-type: none
      display: inline-block
      width: min-content
      border-radius: 40px
      margin:
        top: 25vh
      font:
        family: 'peace sans', sans
        size: 34px
      box-shadow: 0px 5px #00000029
      a 
        text-decoration: none
      h4
        text-decoration: none
        padding: 20px 120px
        margin: 0
        color: $font-color
    #ready-button:hover
      box-shadow: none
      background:
        color: #DDD
  
  #body
    #our-story
      background-color: $gradient-color
      height: 400px
      box-shadow: 0px 10px #00000080
